{
  "installed" : {
    "client_id" : "_CLIENT_ID_",
    "client_secret" : "_CLIENT_SECRET_",
    "redirect_uris" : [ "urn:ietf:wg:oauth:2.0:oob",
                      "http://localhost" ],
    "auth_uri" : "https://accounts.google.com/o/oauth2/auth",
    "token_uri" : "https://accounts.google.com/o/oauth2/token"
  }
}
